/* Colours */
/*
Pages
#363538
#8D8C8A
#F6F6F6

Buttons
#408697
#52D6F4 */

html,
#root {
  height: 913px;
  width: 100%;
  margin: 0;
}

.categoryItem {
  margin: 2rem 0 2rem 1rem;
}

#header {
  margin: 1rem;
  color: white;
}

#userId {
  font-weight: bold;
}

#iconsBox {
  position: relative;
  left: 1rem;
}

.icon {
  color: #f6f6f6;
  padding: 0;
}

.btn-sidebar {
  margin: 6rem;
}

#form {
  height: 100%;
  width: 100%;
  margin: 3rem 0 0 1rem;
}

.input {
}

#btn-signin {
  margin: 2rem 0 0 0;
}

#signin {
}

#signin:after {
  content: "";
  display: block;
  margin: 0;
  width: 75%;
  padding-top: 20px;
  border-bottom: 1px solid #408697;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
}

a:hover {
  text-decoration: none;
}
